{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div id="test" class="container mt-5">

    <div class = "row justify-content-end mr-1">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdropADD">
           + Add comment
        </button>
    </div>

    <div class = "row justify-content-center">
        <h1>{{posts | length }} Posts</h1>
    </div>

    <div class="row justify-content-center">
            <div class="col-12">
                {% for post in posts %}
                    <div class="media border rounded mb-3 bg-light p-3">
                        <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" alt="John Doe" class="mr-3 rounded-circle" style="width:60px;">
                        <div class="media-body mt-3">
                            <div class = "mb-3">
                                <div class="d-flex justify justify-content-between">
                                    <div>
                                        <h4>{{post.owner.username}} <small><i>have published : {{post.createdAt|ago}}</i></small></h4>
                                    </div>
                                    <div>
                                        <button id="edit-button-{{post.id}}" class="btn btn-info" data-toggle="modal" data-target="#staticBackdropEDIT-{{post.id}}">Edit</button>
                                        {% include "layouts/partials/_modal.html.twig" with {'edit_add': 'staticBackdropEDIT','key': post.id, 'post': post} %}
                                        
                                        <button id="delete-button" onclick = "send({{post.id}})" class = "btn btn-danger">Delete</button>
                                        <form id="delete-form-{{post.id}}" action="{{path("app_delete", {id: post.id})}}" method="post" style="display: none;">
                                            <input type="hidden" name="_method" value="DELETE">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class = "">
                                <p>{{post.content}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
    </div>
</div>

{% include "layouts/partials/_modal.html.twig" with {'edit_add': 'staticBackdropADD', 'key': ""} %}
{% endblock %}

 
